* {
	border: 0;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	display: flex;
	flex-direction: column;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.hero {
	min-height: 100vh;
	background-size: cover;
	background-position: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
header {
	background-color: rgb(241, 165, 54);
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 5%;
	border-bottom: 4px solid white;
}
header nav a {
	text-decoration: none;
	font-size: 1.25rem;
	color: rgb(34, 25, 10);
	font-weight: 600;
	position: relative;
	transition: color .2s ease-in-out;
}
header nav a::after {
	content: '';
	position: absolute;
	height: 2px;
	background-color: white;
	top: -10px;
	left: 50%;
	transform: translateX(-50%);
	width: 0%;
	transition: width .2s ease-in-out;
}
header nav a:hover::after {
	width: 80%;
}
header nav a:not(:last-child) {
	margin-right: 1rem;
}
header .logo {
	position: relative;
	right: 18px;
}
.hero h1 {
	align-self: center;
	text-transform: uppercase;
	background-color: rgb(255, 255, 255);
	position: relative;
	bottom: 15vh;
	padding: .25em .5em;
	font-size: 3rem;
	mix-blend-mode: color-dodge;
	border-radius: .25em;
	text-align: center;
	margin: 0 5%;
}
@media screen and (max-width: 845px) {
	header nav {
		display: flex;
		flex-direction: column;
	}
	header nav a::after {
		height: 0;
	}
	header nav a:hover {
		color: rgb(255, 255, 255);
	}
	header nav a {
		margin-top: 1em;
		font-size: 1rem;
	}
	header nav a:last-child {
		margin-bottom: 1em;
	}
}
